<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:replace="${title} ?: 'Owlab'">Owlab</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
  <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<header class="header">
  <div class="container">
    <h1 class="logo">🦉 Owlab</h1>
    <nav class="nav">
      <a href="/">홈</a>
      <a href="/board">게시판</a>
      <a href="/wordle">워들</a>
      <a href="/food">뭐먹지</a>
    </nav>
  </div>
</header>