<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:replace="${title} ?: 'Owlab'">Owlab</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
  <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
  <header class="header">
    <div class="container header-inner">
        <div class="logo-nav">
          <h1 class="logo">
            <a href="/">🦉 Owlab</a>
          </h1>
          <nav class="nav">
            <a href="/board">게시판</a>
            <a href="/wordle">워들</a>
            <a href="/food">뭐먹지</a>
          </nav>
        </div>

      <div class="auth-nav" th:if="${session.loginUser != null}">
        <span th:text="'환영합니다, ' + ${session.loginUser.name} + '님!'"></span>
        <a href="/logout">로그아웃</a>
      </div>
      <div class="auth-nav" th:if="${session.loginUser == null}">
        <a href="/login">로그인</a>
      </div>
    </div>
  </header>