<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/food.css}" layout:fragment="styles">
</head>

<body>
<section layout:fragment="content">
    <div class="food-container">
        <form th:action="@{/food/random}" method="post" class="food-form">
            <button type="submit" class="food-button">메뉴 추천받기</button>
        </form>

        <div th:if="${randomFood != null}" class="food-result">
            <p class="food-name" th:text="${randomFood.name}"></p>
        </div>
    </div>
</section>
</body>
</html>