<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/wordle.css}" layout:fragment="styles">
</head>

<body>
<section layout:fragment="content">
    <h2>Wordle</h2>
    <div class="board">
        <div class="board">
            <div class="row" th:each="row : ${tiles}">
                    <span class="tile" th:each="tile : ${row}"
                          th:text="${tile.letter}"
                          th:classappend="${tile.color}">
                    </span>
            </div>
        </div>

    </div>
    <form method="post" action="/wordle/guess">
        <input type="text" name="guess" maxlength="5" required>
        <button type="submit">ENTER</button>
    </form>
</section>
</body>
</html>